@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

body:hover #cursor{ /* usando a pseudo classe HOVER para que quando passar o mouse na tela, o cursor apareça */
    opacity: 1;
}

#cursor{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid rgba(165, 18, 165, 0.507);
    opacity: 0;
    top: 0;
    position: fixed; /* pra garantir q o elemento sempre vai estar posicionado pelos movimentos do mouse sem poder interagir com o elemento */
    pointer-events: none; /* tira qualquer eventual mudança do cursor se tiver um evento */
   

}



  

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.menu-open{
    display: none;
}

.container-menu{
    display: flex;
    gap: 25px;
}

.darkMode> img{
    height: 45px;
    
}

.icon-menu>img{
    height: 45px;
}


@keyframes stretch {
    0% {
       
        opacity: 0.2;
        background-color: green;
        border-radius: 100%;
    }

    50% {
        background-color: orange;
    }

    100% {
        transform: scale(2.0);
        background-color: red;
    }
}