@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

body:hover #cursor{ /* usando a pseudo classe HOVER para que quando passar o mouse na tela, o cursor apareça */
    opacity: 1;
}

#cursor{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.404);
    border: 2px solid rgba(165, 18, 165, 0.507);
    opacity: 0;
    top: 0;
    position: fixed; /* pra garantir q o elemento sempre vai estar posicionado pelos movimentos do mouse sem poder interagir com o elemento */
    pointer-events: none; /* tira qualquer eventual mudança do cursor se tiver um evento */
   

}


h1{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}



.menu-open{
    display: none;
    position: fixed;
    background-color: #ffff;
    border-radius: 15px;
    border:1px transparent;
    box-shadow: -1px 0px 11px -2px rgba(218,37,240,0.32);
    -webkit-box-shadow: -1px 0px 11px -2px rgba(218,37,240,0.32);
    -moz-box-shadow: -1px 0px 11px -2px rgba(218,37,240,0.32);
    padding: 20px;
    margin-top: 15px;
    
}

.menu-open a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.menu-open a:hover{
    transform: scale(1.1);
    color: rgb(216, 37, 240);
}

.menu-open li{
    padding: 5px;
    list-style: none;
}

.container-menu{
    display: flex;
    gap: 25px;
}

.darkMode> img{
    height: 25px;
}


.icon-menu>img{
    height: 25px;
}


#img-closeMenu{
    display: none;
}


/* efeito digitado */

#text-content {
    display: flex;
    justify-content: center;
    height: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: black;
  }
  
  #text-content::after {
    content: "|";
    width: 3px;
    height: 50px;
    display: inline-block;
    background-color: #fff;
    animation: flasher 0.6s infinite linear;
    opacity: 0;
    margin-left: 10px;
  }
  
  @keyframes flasher {
    from {
      opacity: 1;
    }
  }

 .text-main{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
 }

 h2{
    font-size: 2.5rem;
 }